.git
.gitignore

__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

.venv/
venv/
env/

.poetry/
poetry.toml
.tools/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

*.log

tests/
tmp/
*.tmp

docker-compose.override.yml

LICENSE
README.md

# Alembic кэш
alembic/__pycache__/

.env
.env.*
